#### Exercise one:
Revisit the [sample code here](W1_4_Data_Structures.ipynb) from week 1 which contains data in a number of different data structures, such as list[] and dict(). Using these structures within a program and see what you can convert into either a pandas's Series or DataFrame.

#### Exercise two:
Import the [following .csv file](SalesData.csv) into an appropriate data structure in pandas. Using the functions available in pandas and NumPy (where they are more appropriate) output answers to the following questions:

- What were the sales for P2 and B8 in Nov-18, Feb-18 and Mar-19?
- In the third quarter (Oct-18 to Dec-18) what were the sales figures for London (L3 & 1) and what was the monthly percentage increase?
- What were the top three months for New York (N6 and N4) and in which stores did they occur?
- What was the overall lowest sales figure in which store and which month?

In [76]:
import pandas as pd
import numpy as np
gap ="\n--------------------------------------------------------------------\n"
df = pd.read_csv("SalesData.csv")
df

,Unnamed: 0,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18,Oct-18,Nov-18,Dec-18,Jan-19,Feb-19,Mar-19
0,L3,390,345,379,353,365,326,363,459,539,474,340,343
1,L1,392,377,347,395,330,332,340,446,573,464,223,216
2,P2,250,270,300,398,376,382,306,489,552,488,298,269
3,N6,460,480,450,310,392,383,314,402,640,495,215,243
4,N4,460,480,450,387,388,320,337,478,676,408,338,263
5,B8,470,510,360,472,423,385,353,464,598,419,459,659

In [77]:
#What were the sales for P2 and B8 in Nov-18, Feb-19 and Mar-19?

p2_nov_feb_Mar = df.iloc[3,[8,11,12]] #using indexes
b8_nov_feb_Mar = df.iloc[5,[8,11,12]] #using indexes
print(f'P2 Sales in Nov, Feb and March are:\n{p2_nov_feb_Mar}')
print(gap)
print(f'B8 Sales in Nov, Feb and March are:\n{b8_nov_feb_Mar}')

P2 Sales in Nov, Feb and March are:
Nov-18    402
Feb-19    215
Mar-19    243
Name: 3, dtype: object

--------------------------------------------------------------------

B8 Sales in Nov, Feb and March are:
Nov-18    464
Feb-19    459
Mar-19    659
Name: 5, dtype: object

In [88]:
#In the third quarter (Oct-18 to Dec-18) 
# what were the sales figures for London (L3 & 1) 
# and what was the monthly percentage increase?

l3_l2_3rd_quarter_figures = df.iloc[:2,[7,8,9]] #using indexes
print(f'3rd Quarter Sales for  London:\n{l3_l2_3rd_quarter_figures}')
print(gap)

#calculate monthly percentage increase using pct_change()
monthly_percentage_increase = l3_l2_3rd_quarter_figures.pct_change()
print(f'3rd Quarter Sales percentage Increase:\n{monthly_percentage_increase *100}%')

3rd Quarter Sales for  London:
   Oct-18  Nov-18  Dec-18
0     363     459     539
1     340     446     573

--------------------------------------------------------------------

3rd Quarter Sales percentage Increase:
     Oct-18    Nov-18    Dec-18
0       NaN       NaN       NaN
1 -6.336088 -2.832244  6.307978%

In [90]:
#What were the top three months for New York (N6 and N4) 
# and in which stores did they occur?

my_stores = df[df['Unnamed: 0'].isin(['N6','N4'])]
print(my_stores)

#find top 3 months for NewYork Stores
top_three_months = my_stores.drop(columns='Unnamed: 0').stack().nlargest(3)
print(top_three_months)

  Unnamed: 0  Apr-18  May-18  Jun-18  Jul-18  Aug-18  Sep-18  Oct-18  Nov-18  \
3         N6     460     480     450     310     392     383     314     402
4         N4     460     480     450     387     388     320     337     478

   Dec-18  Jan-19  Feb-19  Mar-19
3     640     495     215     243
4     676     408     338     263
4  Dec-18    676
3  Dec-18    640
   Jan-19    495
dtype: int64

#### Exercise three:
Using the data set from exercise 2, above, create a new data table, including headings, that gives the percentage increase for each month, based on the stores average for the year. From this ascertain:

- Which store had the largest and smallest increase and in which months did they occur?
- Across all the stores which months showed the smallest average increase and the largest average increase?